body {
  background-color: blueviolet;
  font-family:'Courier New', Courier, monospace;
    transform: scale(0.9);
    transform-origin: center;
}

@media all and (min-width:900px) {
  .container {
    max-width: 900px;
  }
}

@media all and (max-width:980px) {
  .form_selection {
    margin-left: 30px;
  }
}

@media all and (max-width:767px) {
  .gif {
      display: flex;
      justify-content: center;
  }
  .form_selection {
      margin-left: 0px;
      position: static;
  }
}

.container {
  display:flex;
  justify-items: center;
  justify-content: center;
  margin: auto;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
}

.gif {
  border-radius: 5px;
  margin: 10px;
}

.form_selection {
  position: relative;
}

.text-box {
  /* display: flex;
  justify-items: center;
  justify-content: center; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.row {
  width: auto;
}

.btn-group {
  background-color: azure;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: none;
  border-bottom: none;
}

#submit {
  border: 1px solid black;
  border-top: none;
  border-radius: 5px;
  padding: 3%;
  width: 100% ;
  cursor: pointer;
  background: #bfbfbf;
  color: #fff;
  font-family: 'Prompt', sans-serif;
  transition-duration: 0.4s;
}

.active {
  background-color: rgb(245 245 245);
}