body {
  background-color: blueviolet;
}
@media all and (min-width:980px) {
  .container {
    max-width: 800px;
  }
}

@media all and (max-width:979px) {
  .register-form {
    margin-left: 30px;
  }
}

@media all and (max-width:767px) {
  .imageCont {
      display: flex;
      justify-content: center;
  }
  .register-form {
      margin-left: 0px;
      position: static;
  }
}

.container {
  background-color: whitesmoke;
  margin-top: 3rem;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
}

.gif {
  border-radius: 5px;
}

.text-box {
  margin-bottom: 3rem;
}
